@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-image: url("images/3.jpg");
    font-family:"Ubuntu", sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 0;
    z-index: -2;


}

header h1 {
    margin: 0;
    right: 0;
    color: white;
}

a {
    color: white;
    font-size: 45;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 8vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 1s ease-in;

}

.toggle {
    background-color: rgba(0,0,0,0.0);
    border: none;
    position: absolute;
    top: 20px;
    left: 20px;
}
