

* {
    box-sizing:border-box;
    margin: 0;
    paddign: 0'
}

body {
    color: #222;
    padding-bottom:50px;
}
















































.hero p {
    font-size: 20px
    letter-spacing: 1px;
}

.content h2, .content
