@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing:border-box;
    margin: 0;
    paddign: 0'
}

body {
    color: #222;
    padding-bottom:50px;
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    background-image: url(images/nav.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-item: center;
    text-align: center;
    position: relative;
    margin-bottom: 20 px;

}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;l
    background-color: rgba(200, 30, 200, 0.4);
}















































.hero p {
    font-size: 20px
    letter-spacing: 1px;
}

.content h2, .content
